<div class="wrapper">
    <div class="banner text-center justify-content-center" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(https://images.pexels.com/photos/265704/pexels-photo-265704.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);">
      <p><span id="banner-typed-text"></span></p>
      <%= link_to new_cocktail_path do %>

        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#new_cocktail_modal">
          Cocktail
        </button>
      <% end %>
  </div>



  <div class="container">

    <h1>Cocktails of my appppp</h1>



    <div class="row">
      <% @cocktails.each do |flat| %>
          <%= link_to(cocktail_path(flat), class:"card-link") do %>
              <h4><%= flat.name %></h4>
          <% end %>
      <% end %>
    </div>



  </div>
</div>
