


<%= link_to cocktails_path do %>

  <button type="button" class="btn btn-danger button-landing sticky-bottom">CLICK HERE TO ORDER</button>

<% end %>

<a href="https://www.google.com" class="btn btn-primary text-center button-landing sticky-bottom">
   DON'T CLICK HERE
</a>


